/* Cabeçalho com seu nome completo (<header> ou <h1>). */

/* Uma breve apresentação pessoal (1 ou 2 parágrafos dentro de <p>). */

/* Uma lista com suas habilidades ou interesses (<ul> ou <ol>). */

/* Uma imagem sua ou um avatar (<img>). */

/* Uma seção de contato com links para e-mail ou redes sociais (<a>). */

/* Salve o arquivo e teste no naveg;ador para garantir que aparece corretamente. */

/* Parte 2 – Aplicando estilos com CSS */

/* No arquivo style.css, defina estilos para sua página, alterando: */

/* Cor de fundo da página. */

/* Fonte e cor do texto. */

/* Tamanho e cor do cabeçalho. */

/* Espaçamento entre os elementos. */

/* Bordas ou arredondamentos na imagem. */

/* Faça com que o HTML use sua folha de estilos através da tag <link> no <head>. */

/* Teste as mudanças no navegador sempre que salvar o arquivo. */

/* Ajuste o visual para que a página fique organizada e agradável de ler. */

/* Verifique se todos os elementos solicitados estão presentes. */

/* Salve os arquivos e garanta que o portfólio abre corretamente no navegador. */

 *{
    margin: 20000;
    padding:  1000;
    box-sizing: border-box;
 }

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
 }
 .interface{
    max-width: 1280px;
    margin: 0 auto;
 }
 /* estilo do cabeçalho */
 header{
    padding: 40px 4%;
 }

 header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 header a{
    color: #ffffff;
    text-decoration: none;
 }

 header nav ul li{
    list-style-type: none;
 }

 header nav ul li{
    display:inline-block ;
    padding: 0 40px;
 }